<%- include('../partials/header') %>

<div>Create a new ticket:</div>

<form id="add-ticket-form" action="/flights/<%= flight._id %>" method="POST">
  <label>Seat (Must be 'A1' thru 'F99' ):</label>
  <input name="seat" required pattern="[A-F][1-9]\d?"><br>
  <label>Price:</label>
  <input type="text" name="price"><br>
  <input type="submit" value="Add Ticket">
</form>

<!-- Cancel Button -->
<a href="/flights/<%= flight._id %>"><input type="submit" value="Cancel" id="cancel"></a>

<%- include('../partials/footer') %>